#reiniciar button {
    background-color: rgb(7, 203, 138); 
    color: rgb(36, 32, 32); 
    font-size: medium;
    padding: 10px 20px; 
    border: none; 
    border-radius: 25px; 
    cursor: pointer; 
}

.buttons button {
    background-color: rgb(105, 206, 215); 
    color: rgb(29, 25, 25); 
    font-size: medium;
    padding: 10px 20px; 
    border: none; 
    border-radius: 25px; 
    cursor: pointer;
}

#arr {
    background-color: #ca4987; 
    color: #040000; 
    font-size: medium;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
}

.pokemon-container {
    display: flex;
    margin-bottom: 10px;
}

.pokemon-img {
    margin-right: 10px;
}

.pokemon-info {
    margin-top: 40px;
}

.pes {
    margin-left: 50px;
}

.column-title {
    display: flex;
    margin-bottom: 10px;
    font-weight: bold;
}

.column-title .pokemon-img {
    margin-right: 10px;
    margin-top: 40px;
    margin-left: 40px;
}

.column-title .pokemon-info {
    margin-top: 40px;
    margin-left: 45px;
}

.column-title .pes {
    margin-left: 75px;
}
