#reiniciar button {
    background-color: rgb(7, 203, 138); 
    color: rgb(36, 32, 32); 
    font-size: medium;
    padding: 10px 20px; 
    border: none; 
    border-radius: 25px; 
    cursor: pointer; 
}

.buttons button {
    background-color: rgb(105, 206, 215); 
    color: rgb(29, 25, 25); 
    font-size: medium;
    padding: 10px 20px; 
    border: none; 
    border-radius: 25px; 
    cursor: pointer;
}

.radios button {
    background-color: rgb(198, 212, 108); 
    color: rgb(29, 25, 25); 
    font-size: medium;
    padding: 10px 20px; 
    border: none; 
    border-radius: 45px; 
    cursor: pointer;
}

#arr {
    background-color: #ca4987; 
    color: #040000; 
    font-size: medium;
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
}

#poke_table, #mostra_arr_obj, #array {
    border-collapse: collapse;
    width: 50%;
}

#poke_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#mostra_arr_obj td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#poke_table .pes {
    margin-left: 50px;
}

#mostra_arr_obj .pes {
    margin-left: 50px;
}

#arrObj {
    background-color: #e16230; 
    color: rgb(4, 0, 0); 
    font-size: medium;
    padding: 10px 20px; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer;
}